<div id="events">

      <div> <% venueData.forEach(function(item){ %>
        <h2><%= item.name %></h2>
        <p> <%= item.capacity %></p>
        <p> <%= item.district %></p>
        <div id='img'> <%= item.img %> </div>
  <% }) %>

  <p></p>
</div>
</div>
<div id="events">
  <h2></h2>
  <p></p>
  <p></p>
</div>
<div id="events">
  <h2></h2>
  <p></p>
  <p></p>
</div>
<div id="events">
  <h2></h2>
  <p></p>
  <p></p>
</div>
