<div id="events">

      <div> <% venueData.forEach(function(item){ %>
        <h2 id='venue-name'><%= item.name %></h2>
        <p id='capacity'>Capacity: <%= item.capacity %></p>
        <p id='area'>Area: <%= item.district %></p>
        <a id='event-link' href='/events'>Events</a>
        <a id='favorite' href='/favorites'>Favorite</a>
  <% }) %>

  <p></p>
</div>
</div>
