<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seattle Venues</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="/css/style.css">

  </head>

  <body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="/auth/signup">Sign Up</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="/">Home</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="/profile">Favorites</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="/auth/login">Log In</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="/auth/logout">Log Out</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>Seattle Venues</h1>
        <h3>Find and favorite your favorite local venues</h3>
        <br>
      </div>
    </header>

        <div class="container">

          <%- body %>
          <%- JSON.stringify(currentUser) %>
          <% include partials/alerts %>
        </div>

    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/index.js"></script>
  </body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seattle Event Calender</title>


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.css"/>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Muli" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/af.js"></script>

  </head>
  <body>
    <nav class="taskbar">
    <span><h1>Seattle Venues</h1></span>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a id="signup" href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/profile">Favorites</a></li>
    </ul>
    </nav>

    <div class="container">

      <%- body %>
      <%- JSON.stringify(currentUser) %>
      <% include partials/alerts %>
    </div>


    <script src="/js/index.js"></script>
  </body>
</html> -->
