<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Event Finder</title>

    <link type="text/css" rel="stylesheet" href="/css/style.css">

  </head>

  <body>
      <nav class="navbar navbar-dark bg-dark sticky-top">
        <ul>
            <li class="nav-item">
              <a class="nav-link" href="/auth/signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Favorites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Log Out</a>
            </li>
          </ul>
    </nav>

        <div class="container">

          <%- body %>
          <%- JSON.stringify(currentUser) %>
          <% include partials/alerts %>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </body>

</html>
